* {
  margin: 0;
  padding: 0;
}
.main{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #173377;
}
.map{
  margin-top: 30px;
  margin-left: 80px;
  width: 800px;
  fill: #b1c6d7;
}
.countryInfo{
  margin-left: auto;
  margin-right: 80px;
  width: 300px;
  padding: 25px;
  background-color: #234db2;
  color: white;
}
#cCode {
  margin-top: 10px;
  margin-bottom: 30px;
}
#ctCode {
  background-color: #b1c6d7;
}
